<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/app.css", data-inline>
</head>



<body>
    <div class="invoice-box"  class="boxborder">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="https://www.varadaborneotour.com/wp-content/uploads/2019/01/WONDERFUL-INDOENSIA-ORANGUTAN.png" style="width:100%; max-width:300px;">
                            </td>
                            
                            <td>Invoice #:#{transactionID}<br>#{Now}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>Name: #{tripDetails.firstName} #{tripDetails.lastName}<br>Email: #{tripDetails.email} <br>Total Guests Count: #{tripDetails.numberMales + tripDetails.numberFemales} <br>Check In: #{checkIn}<br>Check Out: #{checkOut}</td>
                            
                            <td></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="heading">
                <td>Unit Prices</td>
                
                <td>Price</td>
            </tr>
            
            <tr class="items">
                <td>Accommodation per Night per Person</td>
                
                <td>IDR #{cost.accommodation}</td>
            </tr>
            <tr class="items">
                <td>Breakfast per day per Person</td>
                
                <td>IDR #{cost.breakfast}</td>
            </tr>
            <tr class="items">
                <td>Lunch per day per Person</td>
                
                <td>IDR #{cost.lunch}</td>
            </tr>
            
            <tr class="items">
                <td>Dinner per day per Person</td>
                
                <td>IDR #{cost.dinner}</td>
            </tr>
            
            
            
            <tr class="heading">
                <td>Payment Method</td>
                
                <td>Gross Amount</td>
            </tr>
            
            <tr class="details">
                <td>#{!orderStatus ? "Cash" :"Credit Card"}</td>
                
                <td>IDR #{prices.subTotal}</td>
            </tr>
            
            <tr class="heading">
                <td>Item</td>
                
                <td>Price</td>
            </tr>
            
            <tr class="item">
                <td>Accommodation</td>
                
                <td></td>
            </tr>
            <tr class="subitem">
                <td>#{numberOfDays} Days for #{tripDetails.numberMales + tripDetails.numberFemales} people </td>
                
                <td>IDR #{prices.accommodation}</td>
            </tr>


             <tr class="item">
                <td>Meal Plan</td>
                <td></td>
            </tr>
            <tr class="subitem">
                <td>Breakfast for #{numberOfDays} Days for #{tripDetails.numberMales + tripDetails.numberFemales} people </td>
                
                <td>IDR #{prices.breakfast}</td>
            </tr>
            <tr class="subitem">
                <td>Lunch for #{numberOfDays} Days for #{tripDetails.numberMales + tripDetails.numberFemales} people </td>
                
                <td>IDR #{prices.lunch}</td>
            </tr>

            <tr class="subitem">
                <td>Dinner for #{numberOfDays} Days for #{tripDetails.numberMales + tripDetails.numberFemales} people </td>
                
                <td>IDR #{prices.dinner}</td>
            </tr>
            
            <tr class="item last">
                <td></td>
                
                <td></td>
            </tr>
            
            <tr class="total">
                <td>#{!orderStatus ? "Total Due Upon Arrival:" : "Total Amount Paid:"}</td>
                
                <td>IDR #{prices.subTotal}</td>
            </tr>

            <tr class="heading">
                <td>In-Village Transportation Booked:</td>
                
                <td>Qty</td>
            </tr>
            
            <tr class="items">
                <td>Vans</td>
                
                <td>#{tripDetails.numberVans}</td>
            </tr>
            <tr class="items">
                <td>Cars</td>
                
                <td>#{tripDetails.numberCars}</td>
            </tr>
            <tr class="items">
                <td>Motorbikes</td>
                
                <td>#{tripDetails.numberBikes}</td>
            </tr>
             <tr class="heading">
                <td>From Airport Transportation Booked:</td>
                
                <td>Qty</td>
            </tr>
            
            <tr class="items">
                <td>Cars</td>
                
                <td>#{tripDetails.numberAirportCars}</td>
            </tr>
            <tr class="items">
                <p>#{tripDetails.pickUpDetails}</p>
            </tr>
            

            
        </table>
    </div>
</body>
</html>
